<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OpenRank预测</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pra.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <h1 class="text-center mb-4">输入二十个维度的值</h1>
<div>

        <form action="/submit" method="post">

        <table style="width: 70%;">
            {% for i in range(4) %}
                <tr>
                    {% for j in range(1,6) %}
                        {% with p = i*5+j %}
                        {% with dim = dimensions[p-1] %}
                        <td>{{ dim | replace('_', ' ') }} </td>
                        {% endwith %}
                        {% endwith %}
                    {% endfor %}
                </tr>
                <tr>
                    {% for j in range(1,6) %}
                        {% with p = i*5+j %}
                        {% with dim = dimensions[p-1] %}
                        <td> <input type="text" class="form-control" id="{{ dim }}" name="{{ dim }}" required /> </td>
                        {% endwith %}
                        {% endwith %}
                    {% endfor %}
                </tr>
            <tr></tr>
            {% endfor %}
        </table>

        <div class="text-center">
        <button type="submit" class="btn btn-primary btn-lg mb-3">预测</button>
        <a href="{{ url_for('next_page') }}" class="btn btn-secondary btn-lg mb-3">跳转到以文件形式预测</a>
        </div>
        </form>
    {% if prediction %}
    <h3>OpenRank: {{ prediction }}</h3>
    {% endif %}
</div>
</body>

</html>